@model Beneficio_Model
@{
    ViewData["Title"] = "Cadastrar novo contribuinte";
    var mensagemBeneficio = ViewBag.MensagemBeneficio;
    var mensagemPercentual = ViewBag.MensagemPercentual;
}
<h1>Cadastrar novo Benefício</h1>
<br />
<form asp-controller="Beneficio" asp-action="CriarBeneficio" method="post">
    <div class="mb-3">
        <label class="form-label">Nome do Benefício:</label>
        <input type="text" asp-for="nome_beneficio" class="form-control" id="nome_beneficio" placeholder="Digite um nome para o benefício" maxlength="100">
    </div>
    @if (!string.IsNullOrEmpty(mensagemBeneficio)) {
        <div class="text-danger">@mensagemBeneficio</div>
    }
    <div class="mb-3">
        <label class="form-label">Percentual(%):</label>
        <input type="number" asp-for="percentual" class="form-control" id="percentual" placeholder="Digite o valor do percentual" step="0.01">
    </div>
    @if (!string.IsNullOrEmpty(mensagemPercentual)) {
        <div class="text-danger">@mensagemPercentual</div>
    }
    <div>
        </br>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button class="btn btn-secondary" asp-controller="Beneficio" asp-action="ListagemBeneficio">Voltar</button>
    </div>
</form>